vosk==0.3.45
sounddevice==0.4.6
numpy
simpleaudio
requests==2.31.0
dateparser==1.1.8
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
spotipy==2.23.0
beautifulsoup4==4.12.2
lxml==4.9.3
google-api-python-client==2.108.0
pytz==2023.3
nltk==3.8.1
